#grid {
    margin: auto;
    width: 75%;
    border-radius: 10px;
    background: rgb(84,159,147);
    background: linear-gradient(10deg, rgba(84,159,147,1) 35%, rgba(37,142,166,1) 100%);
}
.box {
    width: 8vh;
    height: 8vh;
}
#box2, #box8 {
    border-right: 2px solid darkslategray;
    border-left: 2px solid darkslategray;
}
#box5 {
    border: 2px solid darkslategray;
}
#box4, #box6 {
    border-top: 2px solid darkslategray;
    border-bottom: 2px solid darkslategray;
}
#reset {
    width: 100px;
    height: 50px;
    border-radius: 15px;
    background-color: #E2B1B1;

}
.box:hover {
    background-color: orange;
    opacity: 25%;
}
body {
    background: linear-gradient(0deg, rgba(159,175,144,1) 40%, rgba(226,194,255,1) 100%);
    background-repeat: space;
    height: 100vh;
}